.fuse_hidden*
.directory
.Trash-*
.nfs*
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.iml
build/
.gradle/
out/
run/
src/api/
src/test/
.idea/
gradle/
gradlew
src/main/java/cc/hyperium/addons/sidebar/versions/UpdateChecker.java
.DS_Store
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
