<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%cyan{%d{HH:mm:ss.SSS}} | %blue{%thread} %style{%highlight{%level}}{bright} %logger{1.} %cyan{>} %msg%n"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} | %thread %level %logger{1.} > %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>