<Configuration>
    <Properties>
        <Property name="logPattern">%cyan{%d{HH:mm:ss.SSS}} | %blue{%thread} %style{%highlight{%-5level}}{bright}
            %-20.20logger{1.} %cyan{>} %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>